<nav>
  <div class="">
    <a href="/"><h1>Reinsdyr Register</h1></a>
    <p>Fra den samiske organisasjonen Kukkik Ano</p>
  </div>
  <ul>
    <li><a href="/">Søk</a></li>
    <li><a href="/about">Om siden</a></li>
    <li><a href="/beite">Beiteområder</a></li>
  </ul>
</nav>
