<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>Om nettsiden</h2>
      <p>
        Den samiske organisasjonen Kukkik Ano har bestemt seg for at det er på
        tide at alle reinsdyr skal registreres. På denne nettsiden kan du finne
        informasjon om eieren av reinsdyrflokken, se individuelle reinsdyr og
        informasjon om flokker og beiteområder.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
