<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>Kart over beiteområdene til de forskjellige flokkene</h2>
      <img src="../beite.png" alt="beitemark">
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
